@media screen and (max-width: 768px) {
    .user-infos {
        position: relative;
    }

    .user-info {
        margin: 0 10px;
        font-size: 1rem;
        color: #333;
        position: static;
        display: flex;
        align-content: space-around;
        justify-content: space-around;
    }

    .avatar svg {
        width: -webkit-fill-available;
    }

}